@font-face {
    font-family: 'departure_monoregular';
    src: url('departuremono-regular-webfont.woff2') format('woff2'),
         url('departuremono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'departure_monoregular', monospace;
}

.file-index {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.file-index-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    font-size: 16px;
    color: #333333;
}
